body {
    font-family: sans-serif;
    background: #202020;
    color: #fff;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin: 0 auto;
}


#hook-explanation p {
    text-align: left;
    line-height: 1.5em;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

#hook-terms {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
    font-size: 1.1em;
}

#hook-terms h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
}

#hook-terms ul {
    list-style-type: none;
    padding-left: 20px;
}

#hook-terms li {
    margin-bottom: 18px;
    position: relative;
    padding-left: 24px;
}

#hook-terms li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #1e90ff;
    font-weight: bold;
}
